* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  background: #f9f9f9;
  color: #212529;
  -webkit-font-smoothing: antialiased;
}
body, input, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}
button {
  cursor: pointer;
}
a {
  color: #212529;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: calc(100% - 20px);
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (min-width: 960px) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}